*#
.edbi-ds-history
.emacs_bash
ac-comphist.dat
auto-save-list/
eclipse.jdt.ls/
el-get/
elisp/
elpa/
emacs-webkit/
eshell/
ido.last
ido.last~
init.el~
meghanada/
projectile-bookmarks.eld
smex-items
tramp
url/
workspace/
